<!--Page does not exist template-->
{% extends "base2.html" %}
{% block page_content %}

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href=" {% url 'home' %} ">
                    E-Learning Lab
                </a>
            </li>
            <small>
                {% if user.is_authenticated %}
                <li style="color: white;">Welcome, {{ user.get_username }}</li>
                <li style="padding-left:1rem; padding-bottom: 2em;"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
                {% else %}
                <li ><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
                {% endif %} 
              </small>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <div class="text-center"> 
        <h3 style="padding-top:10rem">Sorry, this page does not exists</h3>
        <p>We are either still building this page or an error has occured.  <br>Please contact Admin for help</p> 
        <input type=button value="Previous Page" onClick="javascript:history.go(-1);">
    </div>
</div>
{% endblock %}