{% extends "base.html" %}
{% load static %}
{% block page_content %}

<!-- <div class="card-deck">
    <div class="card">
      <img src="/media/Justice E-lab photo.jpg" alt="Justice" style="width:100%">
      <div class="container">
        <h2>Justice Gumbochuma</h2>
        <p class="title">CEO &amp; E-Learning Lab Lead</p>
        <p>Program Coordinator</p>
      </div>
    </div>

    <div class="card">
      <img src="/media/Paul Courville.jfif" alt="Paul" style="width:100%">
      <div class="container">
        <h2>Paul Courville</h2>
        <p class="title">Electronics Lead</p>
        <p>Electrical Engineering</p>
      </div>
    </div>

    <div class="card">
      <img src="/media/prof_elmarie_kritzinger.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Prof Elmarie Kritzinger</h2>
        <p class="title">Cyber Security Lead</p>
        <p>Computer Science</p>
      </div>
    </div>
</div> -->
<div class="text-center title">
    <h1>E-Learning Lab Team</h1>
</div>
<div class="row narrow" style="margin: 0 auto !important; 
        float: none !important; 
        margin-bottom: 10px !important; ">
  <div class="col-sm-4">
    <div class="card text-white bg-dark" style="width: 18rem;">
        <img class="card-img-top" src="/media/facebook-profile-Justice E-lab photo.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Justice Gumbochuma</h5>
        <p class="card-text">E-Learning Lab Lead</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-dark" style="width: 18rem;">
        <img class="card-img-top" src="/media/facebook-profile-Paul Courville.jfif" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Paul Courville</h5>
        <p class="card-text">Electronics Lead</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-dark" style="width: 18rem;">
        <img class="card-img-top" src="/media/facebook-profile-prof_elmarie_kritzinger.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Prof Elmarie Kritzinger</h5>
        <p class="card-text">Cyber Security Lead</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}