.parent{
    background-color: white;
    height: 80%;
    display: inline-table;
    overflow-inline:auto;
}

.box-element1{
    float: left;
    width: 50%;
}

.box-element2{
    float: left;
    width: 50%;
}

.content{
    font-size: large;
    margin-left: 10%;
}

.image-content{
    position: relative;
    height: 50%;
    width: 80%;
}

.container1{
    display: inline-table;
    float: left;
    background-color: #d9d9d9;
    position: relative;
    border-radius: 10px;
    width: 87%;
    padding: 1.5%;
    margin-top: 9%;
    height: 50px;
    margin-left: -10%;
}

.img-container{
    padding-top: 5%;
    background-color: #d9d9d9;
    border-radius: 10px;
    width:48%;
    text-align: center;
    margin-right: 5% ;
    margin-top: 9%;
    padding-bottom: 3%;
    margin-left: 25%;
}

.drp-content{
    display: block;
    position: relative;
    padding: 3px;
    background-color: white ;
    border-radius: 5px;
    font-size:x-large;
    margin-top: 1%;
}

.drp-content1{
    display: block;
    position: relative;
    padding: 3px;
    margin-top: 2%;
    background-color: white ;
    border-radius: 5px;
    font-size:x-large;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0   ;
}

.content{
    display:none
}

input[type=checkbox]:checked ~ div {
    display: block;
}

input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.arrow {
    float: right;
    margin-right: 0;
}

.btn.btn-sm.btn-dark.float-right{
    position:absolute;
    margin-left: -2.5%;
    margin-top: 0.4%;
    border-radius: 10px;
}