*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.container2{
    width: 100%;
    height:100%;
    background-image: linear-gradient(to bottom right, rgba(144,69,243,255), rgba(96,197,244,255))*/
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgba(146,68,244,255), rgba(96,197,244,255));

    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    position: relative;
    height: 75%;
    width: 35%;
    background: rgba(235,235,235,255);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:32.5%;
    top: 10%;
    margin-bottom: 10%;
}

.wrapper .form-box {
    width: 100%;
    padding: 30px;
}

.form-box h2 {
    color: rgba(27,27,27,255);
    text-align: center;
    top: 0%;
}

.input-box {
    position: relative;
    width: 100%;
    height: 30px;
    border-bottom: 2px solid rgba(162,162,162,255);
    margin: 40px 0;
}

.input-box.email{
    margin: 0;
}

/*.input-box.name{
    position: relative;
    width: 45%;
}*/

/*.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgba(162,162,162,255);
    font-weight: 500;
    pointer-events: none;
}*/

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.flexboxrow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7%;
}

.btn {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 45px;
    background: linear-gradient(to bottom right, rgba(146,68,244,255), rgba(96,197,244,255));
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: poiner;
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    margin-top: 10%;
    text-align: center;
    
}

/*

/////
    

    border-radius: 20px;
    border: none 
    backgroun-color: linear-gradient(to bottom right, rgba(146,68,244,255), rgba(96,197,244,255));
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 12px 45px;
    Letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform;
    text-align: center;
*/

input::placeholder-shown{
    color: black;
}
