<!---base template for the student courses page-->
{% load static%}

<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Online learning platform">
  <meta name="keywords" content="E-Learning, E-Learning Lab, Learning, Electronic, Bridge2Africa">
  <meta name="author" content="Adriane Inocencio">
  
  <title>E-learning Lab</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type ="text/css" href = "{%static '/style.css' %}">

  <div id = "Container">
  {% block page_content %}{% endblock %}
  
</div>

</div>
</html>