<!--Login template-->

{% extends "base.html" %}
{% block page_content %}

<div class="container">
  <div class="row justify-content-center align-items-center" style="height:75vh;">
      <div class="col-auto border p-3">
        {% if user.is_authenticated %}
        <meta http-equiv="refresh" content="0; url= {% url 'home' %} " />
        {% endif %}

          {% if form.errors %}
          <p class="bg-danger p-1">Incorrect Credentials</p>
          <p class="p-1">Make sure your USERNAME and  <br> PASSWORD is typed in correctly</p>
          {% endif %}
            {% if next %}
              {% if user.is_authenticated %}
              <p class="bg-warning p-1">Your account doesn't have access.</p>
              {% else %}
              <p class="bg-secondary">E-Learning Lab Login</p>
              {% endif %}
          {% endif %}
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <table>
          <tr>
              <td>{{ form.username.label_tag }} </td>
              <td>{{ form.username }}</td>
          </tr>
          <tr>
              <td>{{ form.password.label_tag }} </td>
              <td>{{ form.password }}</td>
          </tr>
          </table>
          <br>
          <input type="submit" value="login" />
          <input type="hidden" name="next" value="{{ next }}" />
          </form>
          <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
          <p><a href="{% url 'register' %}">New User? Sign Up today!</a></p>
      </div>
  </div>
</div>
{% endblock %}



